.rating {
  margin-bottom: 8px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  .count {
    font-size: 0.6em;
    padding-left: 4px;
    color: gray;
  }
}

.star {
  color: orange;
}
